
@media (max-width: 810px) {
  nav ul {
    flex-direction: column;
  }
  #list li:not(:first-child) {
    display: none;
  }
  nav a.burger {
    float: center;
    display: inline;
  }
}
.burger {
  display: none;
}
.responsive {
  display: none;
}
#navigation {
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #282828;
}

nav ul {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 10px;
}

nav ul li {
  list-style: none;
  text-align: center;
  flex: 1 1 auto;
}

nav ul li a {
  padding: 1rem 2rem;
  font-family: 'Caveat', cursive;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

a#home:hover {
  text-decoration: underline;
}

a#bio:hover {
  color: red;
}

a#skills:hover {
  color: orange;
}

a#projects:hover {
  color: #fff000;
}

a#current:hover {
  color: green;
}

a#artwork:hover {
  color: dodgerblue;
}

a#contact:hover {
  color: darkOrchid;
}

section, #content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px;

}

#header {
  font-family: 'Caveat', cursive;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 2px;
  color: #282828;
  margin-bottom: -5px;
}

#bio .active {
  color: red;
  text-decoration: underline;
}
.skills-active {
  color: orange;
  text-decoration: underline;
}
.projects-active {
  color: #fff000;
  text-decoration: underline;
}
.current-active {
  color: green;
  text-decoration: underline;
}
.artwork-active {
  color: blue;
  text-decoration: underline;
}
.contact-active {
  color: purple;
  text-decoration: underline;
}
p {
  max-width: 75%;
  font-family: 'Ubuntu', sans-serif;
  color: #282828;
  text-align: justify;
}

/*.dynamic-container {
  display: flex;
  flex-direction: column;
}*/

.quote {
  max-width: 60%;
  text-align: justify;;
  font-family: 'Ubuntu', sans-serif;
  font-size: .9em;
  font-style: italic;
  color: #282828;
  letter-spacing: .7px;
  line-height: 1.4em;
}

.source {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: .7em;
  color: #282828;
  margin-top: -7px;
  letter-spacing: .7px;
}

hr {
  width: 30%;
  color: black;
}

.subheader {
  font-family: 'Caveat', cursive;
  font-weight: 400;
  font-size: 2em;
  color: royalblue;
  margin-bottom: -5px;

}
.skills {
  font-family: 'Ubuntu', sans-serif;
  text-align: justify;
}
.skill-paragraph {
  text-align: justify;
  margin-top: -5px;
  margin-bottom: -5px;
}
.project-tech {
  list-style: none;
}
.header-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}
.project-icon {
  height: 30px;
  width: 30px;

}
.header-container a {
  text-decoration: none;
}
/*.header-container a:hover {
  text-decoration: underline;

}*/
.project-header {
  font-family: 'Caveat', cursive;
  font-weight: 400;
  font-size: 2em;
  margin-bottom: -5px;
}
.first {
  color: #A03138;
  margin-top: 40px;
}
.second {
  color: #00BF93;

}
.third {
  color: #FFB40E;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer ul {
  display: flex;
  width: 50%;
  margin-top: 20px;
}

footer ul li {
  list-style: none;
  text-align: center;
  flex: 1 0;
}

footer ul li img {
  /*padding: 1rem 2rem;*/
  height: 30px;
  width: 30px;
}

footer ul li img:hover {
  height: 35px;
  width: 35px;
  margin-left: -5px;
}
