.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hero {
  margin: 20px 20px;
  background-image: url('./images/heart.png');
  height: 500px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.text {
  font-family: Merriweather;
  margin: 20px 20px;

}
