body {
  margin: 0;
  padding: 0;
}

.mural-background {
  background-image: url('images/wall-compressor.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 330px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 330px;
  width: auto;
}
#mural {
  max-height: 100%;
  max-width: 100%;
  margin: 10px 0;
}
